<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <nav>DEVTIKS</nav>
  <main>
    <aside>
      hola soy aside
    </aside>
    <section>
      <h2>posts</h2>
      <ul>
        <% Object.keys(tree).forEach((page) => { %>
          <% if (tree[page].route.includes('posts/')) { %>
            <li><%= tree[page].route %></li>
          <% } %>
        <% }); %>
      </ul>
    </section>
  </main>
</body>
</html>